@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 604px;
    height: 451px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.img1 {
    width: 301px;
    height: 451px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img2 {
    width: 315px;
    height: 240px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text {
    position: relative;
    float: right;
    right: 10px;
    top: 30px;
}

.attribution {
    font-family: 'Montserrat',sans-serif;
    font-size: 11px;
    text-align: center;
    padding-top: 100px;
}

.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(30, 38%, 92%);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: small;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    color: hsl(0, 0%, 23%);
}

h2 {
    font-family: 'Fraunces',serif;
	color: #3d8168;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: small;
    color: hsl(228, 12%, 48%);
}

h5 {
    float: right;
    position: relative;
    top: -65px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    color: hsl(228, 12%, 48%);
}

.bt {
    position: relative;
    float: right;
    left: 19px;
    top: 15px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #001d0707;
	background-color:#3d8168;
	border-radius:6px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat',sans-serif;
	font-size:12px;
	font-weight:500;
	padding:15px 70px;
	text-decoration:none;
	text-shadow:0px -1px 0px #038338;
}
.myButton:hover {
	background-color:#1a4031;
}

.myButton:active {
	position:relative;
	top:1px;
}


@media only screen and (min-width: 576px) {
    .img2 {
        display: none;
    }
}

@media only screen and (max-width: 577.98px) {
    .box {
        width: 315px;
        height: 560px;
    }
    .img1 {
        display: none;
    }
    .text {
        bottom: 10px;
        top: -15px;
    }
    h1 {
        font-size: x-large;
    }
    .myButton {
        float: left;
        top: -25px;
        position: relative;
    }
}